---
interface Props {
  id: 'home-section' | string;
  wrapperClasses?: string;
  sectionClasses?: string;
}

const { id, wrapperClasses, sectionClasses } = Astro.props;
---

<section id={id} class=`flex justify-center hero-section animate-hero ${sectionClasses}`>
  <div
    class={`sm:w-[640px] md:w-[768px] lg:w-[1024px] xl:w-[1280px] 2xl:w-[1400px] flex flex-col pt-[112px] lg:pt-[150px] xl:pt-[80px] w-full px-3 sm:px-6 md:px-8 gap-8 sm:gap-16 md:gap-10 ${wrapperClasses}`}
  >
    <slot />
  </div>
</section>

<style>
  .bg-hero {
    background: url('/public/assets/home/mobile.png');
  }
  @media (min-width: 768px) {
    .bg-hero {
      background: url('/public/assets/home/tablet.png');
    }
  }

  @media (min-width: 1024px) {
    .bg-hero {
      background: url('/public/assets/home/bg.png');
    }
  }

  .bg-image {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  @media (min-width: 1024px) {
    .bg-image {
      background-position: calc(50% - 40px) calc(50% + 40px);
    }
  }

  .home-section {
    min-height: max-content;
  }
  @media (min-width: 1524px) {
    .home-section {
      height: calc(100vh);
    }
  }

  @media (min-width: 1024px) {
    .home-section {
      height: calc(100vh);
    }
  }

  /* Here you can add more styles to your heros sections */
</style>
