---
import Layout from '../layouts/Layout.astro';
import NavbarMobile from '../components/header/NavbarMobile.astro';
import NavbarDesktop from '../components/header/NavbarDesktop.astro';
import AgeVerification from '../components/cookies/AgeVerification';
import Home from '../sections-pages/index/Home.astro';
---

<Layout title="">
  <!-- ? navbar mobile -->
  <NavbarMobile isLanding={true} />

  <!-- ? Header section desktop-->
  <NavbarDesktop isLanding={true} />

  <main class="flex flex-col gap-8 md:gap-10 lg:gap-12">
    <Home />
  </main>

  <!-- ! Modals -->
  <!-- ? Age Verification Modal -->
  <AgeVerification cookieName="[CHANGE DOMAIN]" />
</Layout>
