---
import Layout from '../layouts/Layout.astro';
import NavbarMobile from '../components/header/NavbarMobile.astro';
import NavbarDesktop from '../components/header/NavbarDesktop.astro';
import AgeVerification from '../components/cookies/AgeVerification';
import FaqContent from '../sections-pages/Faq/FaqContent.astro';
---

<Layout title="">
    <!-- ? navbar mobile -->
    <NavbarMobile isLanding={false} />

    <!-- ? Header section desktop-->
    <NavbarDesktop isLanding={false} />

    <main class="flex flex-col gap-8 md:gap-10 lg:gap-12">
        <FaqContent />
    </main>
</Layout>
