---
import Layout from '../layouts/Layout.astro';
import About from '../sections-pages/index/About.astro';

import NavbarMobile from '../components/header/NavbarMobile.astro';
import NavbarDesktop from '../components/header/NavbarDesktop.astro';
import Home from '../sections-pages/index/Home.astro';

import Save from '../sections-pages/index/Save.astro';
import Campaign from '../sections-pages/index/Campaing.astro';
import Testimonials from '../sections-pages/index/Testimonials.astro';
import Promise from '../sections-pages/index/Promise.astro';
import FamousDonators from '../sections-pages/index/FamousDonators/FamousDonators.astro';
import Donations from '../sections-pages/index/Donations.astro';
---

<Layout title="">
    <!-- ? navbar mobile -->
    <NavbarMobile isLanding={true} />

    <!-- ? Header section desktop-->
    <NavbarDesktop isLanding={true} />

    <main class="flex flex-col">
        <Home />
        <Save />
        <Campaign />
        <About />
        <FamousDonators />
        <Testimonials />
        <Promise />
        <Donations />
    </main>
</Layout>
