---

---

<!-- ! Footer -->
<footer class="flex bg-white justify-center py-10 md:py-4 lg:py-6 xl:py-12 gradient-blue text-black flex-col items-center gap-10 w-10/12 mx-auto">
    <div class="flex flex-col items-center md:w-9/12 lg:w-6/12 text-3xl text-center py-10 lg:text-4xl">
        <p>Every single minute counts,</p>
        <p class="font-bold">TAKE ACTION and SAVE CHILDREN’S LIVES!!</p>
    </div>
    <div class="w-full gap-10 flex flex-col lg:flex-row md:w-10/12 lg:w-full lg:justify-between">
        <div class="justify-start flex items-start w-full md:justify-center lg:justify-start">
            <div class="flex flex-row summit text-[#DF1818] text-xl font-bold align-middle justify-center gap-4">
                <img src="/public/assets/footer/logo.png" alt="" />
                <p class="pt-3">Domain.com</p>
            </div>
        </div>
        <div class="flex flex-col items-start w-full">
            <ul class="flex font-medium flex-col gap-5 [&>li]:cursor-pointer md:flex-row md:justify-between w-full lg:text-base">
                <li><a href=""></a>About</li>
                <li><a href=""></a>Features</li>
                <li><a href=""></a>Works</li>
                <li><a href=""></a>Support</li>
            </ul>
        </div>
    </div>
    <div class="border-t-[1px] w-full border-[#E9E9E9] flex flex-col items-center text-sm gap-8 py-4 text-[#52525B] lg:flex-row lg:justify-between">
        <p>© Copyright 2024, All Rights Reserved</p>
        <div class="flex [&>p]:cursor-pointer flex-row gap-4 w-full justify-between md:w-5/12 lg:justify-end">
            <p>Privacy Policy</p>
            <p>Terms of Service</p>
        </div>
    </div>
</footer>
