---

---

<!-- ! Footer -->
<footer class="flex bg-black justify-center py-10 md:py-4 lg:py-6 xl:py-12 gradient-blue text-white">
  <div class="flex flex-col px-3 sm:px-6 md:px-8 gap-8 md:gap-5 lg:gap-10 sm:w-[640px] md:w-[768px] lg:w-[1024px] xl:w-[1280px] 2xl:w-[1400px]">
    <div class="flex flex-col gap-5 md:flex-row">
      <!-- ! Logo/Name/LINKS -->
      <div class="flex flex-col lg:flex-row lg:items-center gap-10 lg:gap-16 md:w-[70%]">
        <!-- ! Logo/Name -->
        <div class="flex items-center justify-center self-center gap-5 h-full">
          <a href="#home-section">
            <img src="./assets/footer/logo.png" class="w-[53px] h-auto" alt="Logo" title="Slots Volindo" />
          </a>
          <!-- <h4 class="font-dejanire text-[28px]/[30px] lg:text-[40px]/[22px]">NAME</h4> -->
        </div>

        <!-- ! LINKS -->
        <div
          class="flex justify-between text-[14px] w-[80%] md:w-full font-bold items-center self-center flex-row flex-wrap [&>a]:cursor-pointer lg:text-[16px]/[27px] lg:gap-x-8 lg:gap-y-7 [&>a]:w-[48%] lg:[&>a]:w-[33%] md:[&>a]:w-[48%] xl:[&>a]:max-w-max xl:w-[70%] gap-2 md:gap-3"
        >
          <a href="./privacy.html" class="font-DM">Privacy Policy</a>
          <a href="./terms.html" class="font-DM">Terms and Conditions</a>
          <a href="./contact-us.html" class="font-DM">Contact Us</a>
          <a href="./cookies.html" class="font-DM">Cookies</a>
          <a href="./gambling-disclaimer.html" class="font-DM">Gambling Disclaimer</a>
          <a href="./cancellation.html" class="font-DM">Cancellation Policy</a>
          <a href="./legal-disclosure.html" class="font-DM">Legal Disclosure</a>
          <a href="./transparency.html" class="font-DM">Transparency Disclosure</a>
        </div>
      </div>

      <!-- ! Logos -->
      <div class="flex flex-col border-[2px] border-white p-3 rounded-[20px] md:self-center md:w-[30%] xl:w-[20%] items-center justify-center gap-4 h-max">
        <div class="w-4/12 flex justify-center">
          <img src="./assets/footer/100.png" class="w-[80px] md:w-[200px] lg:w-[115px] 2xl:w-[250px]" alt="Logo" />
        </div>
        <div class="flex flex-wrap h-max justify-center w-full gap-5 [&>img]:w-[55px] [&>img]:h-auto">
          <img src="./assets/footer/MasterCard_Logo.svg 1.png" alt="master-card-logo" />
          <img src="./assets/footer/MasterCard_Logo.svg 2.png" alt="maestro-logo" />
          <img src="./assets/footer/MasterCard_Logo.svg 3.png" alt="visa-logo" />
          <img src="./assets/footer/MasterCard_Logo.svg 4.png" alt="american-express-logo" />
          <img src="./assets/footer/MasterCard_Logo.svg 5.png" alt="google-pay-logo" />
          <img src="./assets/footer/MasterCard_Logo.svg 6.png" alt="apple-pay-logo" />
        </div>
      </div>
    </div>

    <div class="flex flex-col md:grow gap-5">
      <div class="flex flex-col gap-4 self-center w-full">
        <div class="flex flex-col items-center gap-4 text-left">
          <p class="text-[14px]/[17px]">
            'CHANGE DOMAIN' is operated by 'CHANGE NAME'. The information of the hotels we present may change without prior notice, we are not responsible for the services provided in the hotel of
            your choice, the main purpose of this website is to inform and facilitate the booking process by presenting the most reliable and exclusive information possible.-
          </p>

          <div class="flex flex-col gap-2 items-center">
            <h4 class="text-[18px]/[22px] self-start text-yellow">Quick reminder about responsible gaming:</h4>
            <p class="text-[14px]/[17px]">
              Gambling should be a source of entertainment, It is important to stay within your means and budget, and it is only for people 18 years old and over. If you feel you need help, visit
              BeGambleAware.org. Have a great time during your stay and always keep your gaming enjoyable and within your financial limits. Playing responsibly is essential for a positive experience.
            </p>
          </div>

          <div class="flex flex-col gap-2 items-center w-full">
            <h4 class="text-[18px]/[22px] font-bold self-start">Us</h4>
            <ul class="text-[12px]/[14px] md:text-[16px]/[22px] flex flex-col gap-2 w-full">
              <li>Name: 'CHANGE NAME'</li>
              <li>Address: 3rd Floor, 22-26 The Headrow, Leeds LS1 8EQ, United Kingdom</li>
              <li>Phone number: +44 3451 200 100</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="flex justify-center w-full">
        <span class="text-[18px]/[14px] font-extralight">2024 All rights reserved | 'CHANGE NAME'</span>
      </div>
    </div>
  </div>
</footer>
