---
import SectionStructure from '../../structures/SectionStructure.astro';
---

<SectionStructure idSection="about-us" sectionClasses="bg-[#FFE3DB]" wrapperClasses="py-5">
  <article>
    <h4 class="font-bold text-[32px]/[41px]">Famous Donators</h4>
    <span class="text-xl font-Epilogue">Combatants with Conscientiousness</span>
  </article>

  <article>
    <div class="bg-white p-3 h-[560px] w-[340px] shadow-md rounded-[10px]">
      <img src="/public/assets/donators/1.png" class="object-contain w-full" alt="" />
      <h5 class="font-bold text-center text-2xl">More info</h5>
    </div>
  </article>
</SectionStructure>
