---
import HeroStructure from '../../structures/HeroStructure.astro';
import SectionStructure from '../../structures/SectionStructure.astro';
---

<!-- ? Home section -->
<HeroStructure id="home-section" wrapperClasses=" min-h-[450px] pb-10 md:min-h-[670px] justify-start md:justify-center" sectionClasses="home-section  bg-hero bg-image ">
    <article class="md:w-[80%] lg:w-[75%]">
        <h1 class="w-[85%] md:w-full text-xl md:text-[38px]/[50px] lg:text-[62px]/[80px] text-white font-bold">
            More than 4,291 <br class="lg:hidden" /> children in Gaza <br />
        </h1>

        <div class="bg-red-600 w-[50%] md:w-[70%] p-3 lg:w-[75%] xl:w-full text-white text-xl md:text-[40px]/[50px] lg:text-[64px]/[80px] font-bold">
            Are NOW dying <br class="sm:hidden md:block xl:hidden" /> From Hunger!
        </div>
        <div class="bg-[#17344ECC]/[80%] w-[50%] md:w-[70%] lg:w-[75%] xl:w-full p-2">
            <h2 class="text-[#FFB700] font-Epilogue italic text-xl md:text-[40px]/[50px] lg:text-[45px]">There is no <br class="sm:hidden md:block xl:hidden" /> time to waste!</h2>
        </div>

        <div class="bg-[#FFF3D7] shadow-lg hidden md:flex rounded-[10px] mt-5 p-4 w-[60%] flex-col gap-4 items-center">
            <h3 class="text-2xl lg:text-[42px]/[64px] font-bold">Provide emergency aid</h3>
            <p class="text-justify lg:text-xl">Provide life-saving emergency aid to those affected by war and conflict. Children are innocent victims of war and must always be protected</p>
            <span class="self-start font-bold text-xl">Select the desired amount</span>

            <div id="price-options" class="flex gap-4 lg:[&>div]:w-[33%] [&>div]:text-center justify-evenly w-full">
                <div
                    class="p-1 hover:scale-105 cursor-pointer transition-all lg:text-xl duration-200 border-[#17354E] border-[2px] rounded-[10px] bg-white font-bold px-3 text-[#17354E]"
                    data-price="200"
                >
                    <span>200 kr</span>
                </div>
                <div
                    class="p-1 hover:scale-105 cursor-pointer transition-all lg:text-xl duration-200 border-[#17354E] border-[2px] rounded-[10px] bg-[#17354E] font-bold px-3 text-white"
                    data-price="300"
                >
                    <span>300 kr</span>
                </div>
                <div
                    class="p-1 hover:scale-105 cursor-pointer transition-all lg:text-xl duration-200 border-[#17354E] border-[2px] rounded-[10px] bg-white font-bold px-3 text-[#17354E]"
                    data-price="500"
                >
                    <span>500 kr</span>
                </div>
            </div>

            <button class="bg-white rounded-[10px] lg:text-xl w-full border-[2px] text-xl font-bold border-[#17354E] p-2">Set the amount</button>
        </div>
    </article>
</HeroStructure>

<SectionStructure idSection="campaing" sectionClasses="bg-white" wrapperClasses=" md:hidden w-full md:py-10">
    <div class="flex gap-3 w-full p-2 justify-between">
        <img src="/public/assets/campaing/norwegian.png" class="w-[85px] h-[50px]" alt="" />
        <img src="/public/assets/campaing/1.png" class="w-[80px] h-[50px]" alt="" />
        <img src="/public/assets/campaing/2.png" class="w-[80px] h-[50px]" alt="" />
    </div>
</SectionStructure>

<SectionStructure wrapperClasses="md:hidden" idSection="test">
    <div class="bg-[#FFF3D7] shadow-lg flex rounded-[10px] mt-5 p-4 w-full flex-col gap-4 items-center">
        <h3 class="text-2xl lg:text-[42px]/[64px] font-bold">Provide emergency aid</h3>
        <p class="text-justify lg:text-xl">Provide life-saving emergency aid to those affected by war and conflict. Children are innocent victims of war and must always be protected</p>
        <span class="self-start font-bold text-xl">Select the desired amount</span>

        <div id="price-options-mobile" class="flex [&>div]:w-[33%] [&>div]:text-center justify-between w-full">
            <div class="p-1 hover:scale-105 cursor-pointer transition-all lg:text-xl duration-200 border-[#17354E] border-[2px] rounded-[10px] bg-white font-bold px-3 text-[#17354E]" data-price="200">
                <span>200 kr</span>
            </div>

            <div class="p-1 hover:scale-105 cursor-pointer transition-all lg:text-xl duration-200 border-[#17354E] border-[2px] rounded-[10px] bg-[#17354E] font-bold px-3 text-white" data-price="300">
                <span>300 kr</span>
            </div>

            <div class="p-1 hover:scale-105 cursor-pointer transition-all lg:text-xl duration-200 border-[#17354E] border-[2px] rounded-[10px] bg-white font-bold px-3 text-[#17354E]" data-price="500">
                <span>500 kr</span>
            </div>
        </div>

        <button class="bg-white rounded-[10px] lg:text-xl w-full border-[2px] text-xl font-bold border-[#17354E] p-2">Set the amount</button>
    </div>
</SectionStructure>
