---
import SectionStructure from '../../structures/SectionStructure.astro';
---

<SectionStructure idSection="about-us" sectionClasses="bg-[#DF1818]" wrapperClasses="py-5">
    <article class="p-3 flex flex-col justify-center md:flex-row items-center gap-4 text-center text-white font">
        <img src="/public/assets/save/icon.png" alt="" />
        <p class="md:text-xl lg:text-3xl lg:w-[70%]">
            According to Save the Children's medical staff, there are, <span class="font-semibold text-xl md:text-2xl lg:text-4xl">176 daily cases of children dying</span> in hospitals due to hunger.
        </p>
    </article>
</SectionStructure>
