---
import { fade } from 'astro:transitions';
import NavbarMobile from '../components/header/NavbarMobile.astro';
import NavbarDesktop from '../components/header/NavbarDesktop.astro';
import Footer from '../components/Footer.astro';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/public/assets/navbar/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script defer src="/scripts/navbar.js"></script>

    <!-- ? Adobe Fonts -->
    <link rel="stylesheet" href="https://use.typekit.net/gzv3jzr.css" />
  </head>
  <body class="overflow" transition:animate={fade({ duration: '0.5s' })}>
    <!-- ? navbar mobile -->
    <NavbarMobile isLanding={false} />

    <!-- ? Header section desktop-->
    <NavbarDesktop isLanding={false} />
    <slot />
    <!-- ! Footer -->
    <Footer />
  </body>
</html>
