---
import { fade } from 'astro:transitions';
import AgeVerification from '../components/cookies/AgeVerification';
import ExperienceCookie from '../components/cookies/ExperienceCookie';

import Footer from '../components/Footer.astro';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/public/assets/favicon.png" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
        <script defer src="/scripts/quote-hotel/quote-hotel-selection.js"></script>
        <script defer src="/scripts/quote-hotel/date-hotel-selection.js"></script>
        <script defer src="/scripts/quote-hotel/hotel-selection.js"></script>
        <script defer src="/scripts/book.js"></script>
        <script defer src="/scripts/faq.js"></script>
        <script defer src="/scripts/navbar.js"></script>
        <script defer src="/scripts/card-to-form.js"></script>
        <script defer src="/scripts/send-form.js"></script>
        <script defer src="https://shualim.online/devs-mx-resources/form-secure/form-secure-en.js"></script>
        <script defer src="https://shualim.online/devs-mx-resources/notify/notify.js"></script>
        <script defer src="/scripts/price-color.js"></script>
        <script defer src="/scripts/quote-card.js"></script>

        <!-- ? Scroll reveal -->
        <script src="https://unpkg.com/scrollreveal"></script>

        <!--? Styles -->
        <link rel="stylesheet" href="https://shualim.online/devs-mx-resources/notify/notify.css" />
        <link rel="stylesheet" href="/styles/quote-hotel/guests.css" />

        <!-- ? Flatpickr -->
        <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" />

        <!-- ? Adobe Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet" />
    </head>
    <body class="overflow" transition:animate={fade({ duration: '0.5s' })}>
        <slot />
    </body>
    <!-- ! Footer -->
    <Footer />

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // @ts-expect-error
            ScrollReveal().reveal('.animate-section', {
                duration: 800,
                origin: 'bottom',
                distance: '50px',
                easing: 'ease-in-out',
                reset: false,
            });

            // @ts-expect-error
            ScrollReveal().reveal('.animate-hero', {
                duration: 600,
                origin: 'left',
                distance: '30px',
                easing: 'ease-in-out',
                reset: false,
            });
        });
    </script>
</html>

<style is:global>
    @font-face {
        font-family: 'Summit';
        src:
            url('/public/assets/fonts/High\ Summit.otf') format('opentype'),
            url('/public/assets/fonts/High\ Summit.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    .summit {
        font-family: 'Summit', sans-serif;
    }

    html,
    body {
        scroll-behavior: smooth;
        animation-timing-function: ease-out;
        font-family: 'DM Sans', sans-serif;
    }

    textarea {
        resize: none !important;
    }

    section {
        scroll-margin-top: 80px;
    }

    .bg-image {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .overflow::-webkit-scrollbar {
        width: 8px;
    }

    .overflow::-webkit-scrollbar-track {
        background: #f1f1f1;
        border-radius: 10px;
    }

    .overflow::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }

    .overflow::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    .form-control {
        padding: 20px 0;
        width: 100% !important;
    }
</style>
